<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="bar-chart"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clientes" href="/tabs/clientes">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contratos" href="/tabs/contratos">
      <ion-icon aria-hidden="true" name="document-text"></ion-icon>
      <ion-label>Contratos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="equipamentos" href="/tabs/equipamentos">
      <ion-icon aria-hidden="true" name="build"></ion-icon>
      <ion-label>Equipamentos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
